<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
</head>

<body>
  <div class="warp">
    <h1 class="title"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <form action="/save_Image" method='post' enctype="multipart/form-data">
      <div class="submit">
        <label for="userfile" accept="image/git,image/jpeg,image/png">찾아보기</label>
        <input type='file' id="userfile" name='userfile' accept="image/git,image/jpeg,image/png">
        <input class="upload-name" value="파일 선택" disabled="disabled">
      </div>
      <input type='submit' value="보내기">
    </form>

    <span class="file_num"><%= file_num%>개의 파일이 존재합니다.</span>


    <!-- images -->
    <div class="images">
      <% for(let i = 0; i < file_num; i++ ){%>
      <%let path = "/userimage/"+ file_arr[i] %>
      <div class="image">
        <img src=<%-path%>>
        <button onclick="del_file(`<%-file_arr[i]%>`)" class="del_btn">DEL</button>
        <button class="down_btn"><a href="userimage/<%-file_arr[i]%>" download>download</a></button>
      </div>
      <% }%>
    </div>


  </div>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $(document).ready(function () {
      var fileTarget = $('.submit #userfile');
      fileTarget.on('change', function () {
        if (window.FileReader) {
          var filename = $(this)[0].files[0].name;
        }
        else {
          var filename = $(this).val().split('/').pop().split('\\').pop();
        }
        $(this).siblings('.upload-name').val(filename);
      });
    });

    function del_file(file_name) {
      
      //history.go(0);
      $.ajax({
        url: 'delete',
        type: 'post',
        data: { 'img_name': file_name },
        dataType: 'json'
      }).then((data, textStatus, jqXHR) => {
        console.log(data);
      }, (jqXHR, textStatus, errorThrown) => {

      })
    }

    function down_file(file_name) {
      $.ajax({
        // url: 'http://192.168.0.21/download',
        url: 'download',
        type: 'get',
        data: { "flie": file_name }
      }).then((data, textStatus, jqXHR) => {
        console.log(data);
      }, (jqXHR, textStatus, errorThrown) => {
        console.log(errorThrown);
      })
    }
  </script>
</body>

</html>